<app-slider [nombre]="'Películas'" [size]="'small'"></app-slider>
<div class="center">
  <section id="content">
    <div id="favorita" *ngIf="favorita">
      <h2 class="subheader">
        Pelicula favorita
      </h2>
      <h4>{{favorita.title | lowercase}}</h4>
      <h4>{{favorita.year | espar}}</h4>
      <h5>{{this.fecha | date: 'dd/MM/yyyy'}}</h5>
      <h5>{{this.fecha | date: 'short'}}</h5>
      <h5>{{this.fecha | date: 'fullDate'}}</h5>
    </div>
    <div id="articles" *ngIf="peliculas">
      <div  *ngFor="let pelicula of peliculas; let i = index">
        <app-pelicula [pelicula]="pelicula" (MarcarFavorita)="mostrarFavorita($event)">
      </app-pelicula>
      </div>
    </div>
  </section>
  <app-sidebar></app-sidebar>
  <div class="clearfix"></div>
</div>